APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = localhostDATABASE = testUSERNAME = testPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8DEBUG = true[ORDER_DATABASE]TYPE = mysqlHOSTNAME = DATABASE = USERNAME = PASSWORD = HOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn